
.img {
	padding: 10px;
	width: 100px;
	height: 100px;
}

#mobile {
	max-width: 500px;
	margin: 0 auto;
	background-color: gray;

}

#desktop {
	text-decoration-color: gray;
}


.desktoptitle {
	
	font-family: "Architects Daughter";
	font-size: 60px;
	text-align: center;
	width: 40%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: gray;
	padding-right: 30%;
	padding-left: 30%;
	margin-bottom: 3%;
}

.people {
	height: 300px;
	width: 35%;
	font-size: 50px;
	text-align: left;
	background: gray;
	float: left;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 9%;
	margin-bottom: 3%;
	border: solid black;
}


.pic {
	height: 100px;
	width: 100px;
	margin-right: 5px;
	margin-top: 5px;
	float: right;
}

.span {
	font-size: 25px;
}


@media screen and (max-width: 499px) {

   body {
  	background-color: black
  }
  p {
  	display: inline-block; 
  }

}